@using Domain.Interfaces

<HxListGroupItem CssClass="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">@Title</div>
        @TopicId
    </div>

    <HxSwitch bind-Value="IsAdded" ValueChanged="HandleValueChanged" ValueExpression="() => IsAdded"/>
</HxListGroupItem>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public long ForumId { get; set; }
    [Parameter, EditorRequired] public int TopicId { get; set; }
    
    [Inject] public required IHxMessengerService Messenger { get; set; }
    [Inject] public required ITaskSettingService TaskSettingService { get; set; }

    private bool IsAdded;
    
    protected override void OnInitialized()
    {
        IsAdded = TaskSettingService.Setting.Chats.Any(p => p.ChatId == ForumId && p.TopicId == TopicId);
    }
    
    private void HandleValueChanged(bool value)
    {
        IsAdded = value;
        TaskSettingService.AddChat(ForumId, TopicId);
        
        if (IsAdded) 
            Messenger.AddInformation(message: "Тему успішно додано!");
        else 
            Messenger.AddInformation(message: "Тему успішно видалено!");
    }
}